<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ventas
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="venta" checked>
        <ion-label>Ventas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="anulada">
        <ion-label>Anuladas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectItem=='venta'">
  <ion-list>
    <ion-item-sliding *ngFor="let item of table | filter: search">
    <ion-item (click)="presentModal(item.id)">
      <ion-label class="ion-text-wrap">
      <p><strong><ion-icon name="calendar"></ion-icon> Fecha: </strong>{{((item.fecha!=null)?item.fecha:'') | date: 'mediumDate'}}</p>
      <p><strong><ion-icon name="document"></ion-icon> Comprobante: </strong>{{((item.comprobante!=null)?item.comprobante:'N/A')}}</p>
      <p *ngIf="item.clientes"><strong><ion-icon name="person"></ion-icon> Cliente: </strong>
        {{((item.clientes.nombre!=null)?item.clientes.nombre:'')}} {{((item.clientes.apellido!=null)?item.clientes.apellido:'')}}
      </p>
      <p><strong><ion-icon name="cash"></ion-icon> Total: </strong>{{((item.total!=null)?item.total:'')}}</p>
      <p><strong><ion-icon name="card"></ion-icon> Tipo: </strong>{{((item.tipos.descripcion!=null)?item.tipos.descripcion:'')}}</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
        <ion-item-option color="danger" (click)="presentAlertConfirm(item.id)">
          <ion-icon name="close" slot="start"></ion-icon>Anular
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="goToRoute('venta-generar')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content *ngIf="selectItem=='anulada'">
  <ion-list>
    <ion-item *ngFor="let item of table | filter: search" (click)="presentModal(item.id)">
      <ion-label class="ion-text-wrap">
      <p><strong><ion-icon name="calendar"></ion-icon> Fecha: </strong>{{((item.fecha!=null)?item.fecha:'') | date: 'mediumDate'}}</p>
      <p><strong><ion-icon name="document"></ion-icon> Comprobante: </strong>{{((item.comprobante!=null)?item.comprobante:'N/A')}}</p>
      <p *ngIf="item.clientes"><strong><ion-icon name="person"></ion-icon> Cliente: </strong>
        {{((item.clientes.nombre!=null)?item.clientes.nombre:'')}} {{((item.clientes.apellido!=null)?item.clientes.apellido:'')}}
      </p>
      <p><strong><ion-icon name="cash"></ion-icon> Total: </strong>{{((item.total!=null)?item.total:'')}}</p>
      <p><strong><ion-icon name="card"></ion-icon> Tipo: </strong>{{((item.tipos.descripcion!=null)?item.tipos.descripcion:'')}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>