<ion-header>
  <ion-toolbar color="light">
    <ion-title>Detalle Compra</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <div padding>
    <p *ngIf="data.proveedores" class="text"><strong><ion-icon name="person"></ion-icon>  Proveedores: </strong>
    {{((data.proveedores.nombre!=null)?data.proveedores.nombre:'')}} {{((data.proveedores.apellido!=null)?data.proveedores.apellido:'')}}</p>
    <p *ngIf="data.proveedores" class="text"><strong><ion-icon name="document"></ion-icon>  NIT: </strong>{{((data.proveedores.nit!=null)?data.proveedores.nit:'')}}</p>
    <p *ngIf="data.proveedores" class="text"><strong><ion-icon name="pin"></ion-icon>  Dirección: </strong>{{((data.proveedores.direccion!=null)?data.proveedores.direccion:'')}}</p>
    <p class="text"><strong><ion-icon name="calendar"></ion-icon>  Fecha: </strong>{{((data.fecha!=null)?data.fecha:'') | date: 'mediumDate'}}</p>
    <p class="text"><strong><ion-icon name="cash"></ion-icon>  Tipo de Pago: </strong>{{((data.tipos.descripcion!=null)?data.tipos.descripcion:'')}}</p>
    <br>
    <div *ngFor="let item of data.detalle">
      <ion-item-divider>
        <ion-label>
          {{item.productos.nombre}}
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label color="dark">
          <p class="text"><strong>Cantidad: </strong>{{ item.cantidad }}</p>
          <p class="text"><strong>Precio: </strong>{{ item.precio }}</p>
        </ion-label>
      </ion-item>
    </div>
    <ion-item-divider>
        <ion-label color="dark">
          <strong>Total {{((data.total!=null)?data.total:'')}}</strong>
        </ion-label>
    </ion-item-divider>
  </div>
</ion-content>