<ion-header>
  <ion-toolbar color="light">
    <ion-title>Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!-- CODIGO -->
    <ion-item>
        <ion-label position="floating"><ion-icon ios="ios-barcode-outline" md="md-barcode"></ion-icon>  Codigo</ion-label>
        <ion-input type="text" [(ngModel)]="stocktaking.codigo" name="codigo">
        </ion-input>
    </ion-item>
    <!-- NOMBRE -->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-pricetag-outline" md="md-pricetag"></ion-icon>  Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="stocktaking.nombre" name="nombre">
      </ion-input>
    </ion-item>
    <!-- DESCRIPCION -->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-bookmark-outline" md="md-bookmark"></ion-icon>  Descripcion</ion-label>
      <ion-input type="text" [(ngModel)]="stocktaking.descripcion" name="descripcion">
      </ion-input>
    </ion-item>
    <!-- MARCA -->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-albums-outline" md="ios-albums"></ion-icon>  Marca</ion-label>
      <ion-input type="text" [(ngModel)]="stocktaking.marcaDes" name="marcaDes">
      </ion-input>
    </ion-item>
    <!-- TIPO -->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-albums-outline" md="ios-albums"></ion-icon>  Tipo</ion-label>
      <ion-select [(ngModel)]="stocktaking.tipo" name="tipo">
        <ion-select-option *ngFor="let tP of typesProducts" value="{{tP.id}}">
          {{tP.descripcion}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <!-- CANTIDAD -->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-cart-outline" md="md-cart"></ion-icon>  Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="stocktaking.cantidad" name="cantidad">
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <!-- MINIMO -->
        <ion-item>
          <ion-label position="floating"><ion-icon ios="ios-cash-outline" md="ios-cash"></ion-icon>  Minimo</ion-label>
          <ion-input type="text" [(ngModel)]="stocktaking.minimo" name="minimo">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <!-- DESCUENTO -->
        <ion-item>
          <ion-label position="floating"><ion-icon ios="ios-cash-outline" md="ios-cash"></ion-icon>  Descuento</ion-label>
          <ion-input type="text" [(ngModel)]="stocktaking.descuento" name="descuento">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- PRECIO VENTA -->
        <ion-item>
          <ion-label position="floating"><ion-icon ios="ios-cash-outline" md="ios-cash"></ion-icon>  Precio de Costo</ion-label>
          <ion-input type="number" [(ngModel)]="stocktaking.precioCosto" name="precioCosto">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <!-- PRECIO DE VENTA -->
        <ion-item>
          <ion-label position="floating"><ion-icon ios="ios-cash-outline" md="ios-cash"></ion-icon>  Precio Venta</ion-label>
          <ion-input type="number" [(ngModel)]="stocktaking.precioVenta" name="precioVenta"
          (keyup)="calcPrice()" (ionChange)="calcPrice()">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- PRECIO CLIENTE VENTA -->
        <ion-item>
          <ion-label position="floating"><ion-icon ios="ios-cash-outline" md="ios-cash"></ion-icon>  Precio Cliente</ion-label>
          <ion-input type="number" [(ngModel)]="stocktaking.precioClienteEs" name="precioClienteEs">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <!-- PRECIO DISTRIBUIDOR -->
        <ion-item>
          <ion-label position="floating"><ion-icon ios="ios-cash-outline" md="ios-cash"></ion-icon>  Precio Distribuidor</ion-label>
          <ion-input type="number" [(ngModel)]="stocktaking.precioDistribuidor" name="precioDistribuidor">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button color="dark" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>