<ion-header>
  <ion-toolbar color="light">
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="select">
  <ion-list>    
    <ion-item *ngFor="let item of products" (click)="selectProduct(item)">
      <ion-label>
        <p>{{item.productos.codigo}} - {{item.productos.nombre}}</p>
      </ion-label>
      <ion-note slot="end" color="dark">{{item.cantidad}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="form" class="ion-padding">
  <form (ngSubmit)="saveChanges()">
    <!-- CODIGO -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Codigo</ion-label>
      <ion-input type="text" [(ngModel)]="product.codigo" name="codigo">
      </ion-input>
    </ion-item>
    <!-- NOMBRE -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="product.nombre" name="nombre">
      </ion-input>
    </ion-item>
    <!-- DESCRIPCION -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Descripcion</ion-label>
      <ion-input type="text" [(ngModel)]="product.descripcion" name="descripcion">
      </ion-input>
    </ion-item>
    <!-- MARCA -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Marca</ion-label>
      <ion-input type="text" [(ngModel)]="product.marca" name="marca">
      </ion-input>
    </ion-item>
    <!-- TIPO -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Tipo</ion-label>
      <ion-select [(ngModel)]="product.tipo" name="tipo">
        <ion-select-option *ngFor="let tP of typesProducts" value="{{tP.id}}">
          {{tP.descripcion}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <!-- PRECIO VENTA -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Precio de Costo</ion-label>
      <ion-input type="number" [(ngModel)]="product.precioCosto" (ionChange)="changePrice()" name="precioCosto">
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <!-- PRECIO VENTA -->
        <ion-item>
          <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Precio de Venta</ion-label>
          <ion-input type="number" [(ngModel)]="product.precioVenta" (ionChange)="changePrice()" name="precioVenta">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <!-- CANTIDAD -->
        <ion-item>
          <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Cantidad</ion-label>
          <ion-input type="number" [(ngModel)]="product.cantidad" name="cantidad">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- PRECIO CLIENTE VENTA -->
        <ion-item>
          <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Precio Cliente</ion-label>
          <ion-input type="number" [disabled]="precioClienteEs" [(ngModel)]="product.precioClienteEs" name="precioClienteEs">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <!-- PRECIO DISTRIBUIDOR -->
        <ion-item>
          <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Precio Distribuidor</ion-label>
          <ion-input type="number" [disabled]="precioDistribuidor" [(ngModel)]="product.precioDistribuidor" name="precioDistribuidor">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button color="dark" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>