<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <div class="contenedor">
        <img src="http://papers.co/wallpaper/papers.co-vk56-android-lollipop-material-design-white-pattern-36-3840x2400-4k-wallpaper.jpg">
        <div class="centrado">
          <img src="{{((data.picture!=null)?data.picture:'https://bpresentacion.s3-us-west-2.amazonaws.com/Desarrollo/Delicato2.png')}}" style="border-radius: 15%; background: white;" width="100px" height="auto">
          <p style="color: black;" class="text">{{((data.rol!=null)?data.rol:'')}}</p>
          <p style="color: black;" class="text">{{((data.email!=null)?data.email:'')}}</p>
        </div>
      </div>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="authentication=='Authentication'">
            <ion-item [routerLink]="'login'" (click)="logOut()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Cerrar Sesión
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="authentication=='NoAuthentication'">
            <ion-item [routerLink]="'login'" (click)="logOut()">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Iniciar Sesión
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
