<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Generar Venta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentModalClient()">
        <ion-icon slot="icon-only" name="people"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="detalle" checked>
        <ion-label>Detalle</ion-label>
      </ion-segment-button>
      <ion-segment-button value="producto">
        <ion-label>Productos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="selectItem=='detalle'">
  <form >
      <!-- NIT -->
      <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Nit</ion-label>
        <ion-input type="text" [(ngModel)]="purchase.nit" name="nit" (keyup.enter)="presentModalClient()">
        </ion-input>
      </ion-item>
      <!-- NOMBRE -->
      <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="purchase.nombre" name="nombre">
        </ion-input>
      </ion-item>
      <!-- DIRECCION -->
      <ion-item>
        <ion-label position="floating"><ion-icon name="pin"></ion-icon>  Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="purchase.direccion" name="direccion">
        </ion-input>
      </ion-item>
      <!-- FECHA -->
      <ion-item>
        <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha</ion-label>
        <ion-datetime displayFormat="YYYY MMM DD" [(ngModel)]="purchase.fecha"
        pickerFormat="DD MMM YYYY" name="fecha">
        </ion-datetime>
      </ion-item>
      <!-- NO. FACTURA -->
      <ion-item>
        <ion-label position="floating"><ion-icon name="document"></ion-icon>  No. Factura</ion-label>
        <ion-input type="text" disabled [(ngModel)]="purchase.comprobante" name="comprobante">
        </ion-input>
      </ion-item>
      <!-- TIPO -->
      <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Tipo</ion-label>
        <ion-select [(ngModel)]="purchase.tipo" name="tipo">
          <ion-select-option *ngFor="let t of typesSales" value="{{t.id}}">{{t.descripcion}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><ion-icon name="cash"></ion-icon>  Total</ion-label>
        <ion-input type="text" [(ngModel)]="purchase.total" name="total" disabled>
        </ion-input>
      </ion-item>
      <ion-button color="dark" expand="block" fill="solid" (click)="saveChanges()"  type="button" [disabled]="btnDisabled">
        <ion-icon name="save" slot="start"></ion-icon>
        Guardar Cambios
      </ion-button>
  </form>
</ion-content>

<ion-content *ngIf="selectItem=='producto'">
  <ion-list>
    <div *ngFor="let item of products">
      <ion-item-divider>
        <ion-label>
          {{item.nombre}}
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label color="dark">
          <p class="text"><strong>Cantidad: </strong>{{item.cantidad}}</p>
          <p class="text"><strong>Precio: </strong>{{item.precioVenta}}</p>
          <ion-button size="small" slot="end" color="danger" (click)="removeAddItem(item)">
            <ion-icon name="trash" ></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  
  <div padding>
    <ion-item>
      <ion-label position="floating"><ion-icon name="cash"></ion-icon>  Total</ion-label>
      <ion-input type="text" [(ngModel)]="purchase.total" name="total" disabled>
      </ion-input>
    </ion-item>
  </div>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="presentModalProducts()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>