<ion-header>
  <ion-toolbar color="light">
    <ion-title>Proveedor</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="saveChanges()">
    <!-- NOMBRE -->
    <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="provider.nombre" name="nombre">
        </ion-input>
    </ion-item>
    <!-- DIRECCIÓN -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="pin"></ion-icon>  Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="provider.direccion" name="direccion">
      </ion-input>
    </ion-item>
    <!-- NIT -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="document"></ion-icon>  Nit</ion-label>
      <ion-input type="text" [(ngModel)]="provider.nit" name="nit">
      </ion-input>
    </ion-item>
    <!-- TELÉFONO -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="call"></ion-icon>  Teléfono</ion-label>
      <ion-input type="number" [(ngModel)]="provider.telefono" name="telefono">
      </ion-input>
    </ion-item>
    <!-- CUENTA -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Cuenta</ion-label>
      <ion-input type="number" [(ngModel)]="provider.cuenta" name="cuenta">
      </ion-input>
    </ion-item>
    <ion-button color="dark" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>