<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of table| filter: search">
      <ion-item>
        <ion-label>
          <p><strong><ion-icon name="information-circle-outline"></ion-icon>  Nombre: </strong>
            {{item.nombre}}
          </p>
          <p><strong><ion-icon name="pin"></ion-icon>  Dirección: </strong>
            {{item.direccion}}
          </p>
          <p><strong><ion-icon name="document"></ion-icon>  NIT: </strong>
            {{item.nit}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <!--<ion-item-option color="success" (click)="getProveedor(item.id)">
          <ion-icon name="checkmark" slot=icon-only></ion-icon>
        </ion-item-option>-->
        <ion-item-option (click)="presentModal(item.id)">
          <ion-icon name="create" slot=icon-only></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="presentAlertConfirm(item.id)">
          <ion-icon name="trash" slot=icon-only></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>