<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="venta" checked>
        <ion-label>Ventas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="compra">
        <ion-label>Compras</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectItem=='venta'">
  <ion-item>
    <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha Inicio</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data.fechaInicio" (ionChange)="getAll($event)"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha Fin</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data.fechaFin" (ionChange)="getAll($event)"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><ion-icon name="radio-button-on"></ion-icon>  Estado</ion-label>
    <ion-select [(ngModel)]="data.estado" name="estado" (ionChange)="getAll($event)">
      <ion-select-option  value="1" >No Anuladas</ion-select-option>
      <ion-select-option  value="0" >Anuladas</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><ion-icon name="person"></ion-icon>  Usuario</ion-label>
    <ion-select [(ngModel)]="data.usuario" name="usuario" (ionChange)="getAll($event)">
      <ion-select-option  value="0" >Todos</ion-select-option>
      <div *ngFor="let x of usuarios">
      <ion-select-option  *ngIf="x.empleados" value="{{x.id}}" >{{((x.empleados.nombre!=null)?x.empleados.nombre:'')}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of table | filter: search" (click)="presentModal(item.id)">
      <ion-label class="ion-text-wrap">
      <p><strong><ion-icon name="calendar"></ion-icon> Fecha: </strong>{{((item.fecha!=null)?item.fecha:'') | date: 'mediumDate'}}</p>
      <p><strong><ion-icon name="document"></ion-icon> Comprobante: </strong>{{((item.comprobante!=null)?item.comprobante:'N/A')}}</p>
      <p *ngIf="item.clientes"><strong><ion-icon name="person"></ion-icon> Cliente: </strong>
        {{((item.clientes.nombre!=null)?item.clientes.nombre:'')}} {{((item.clientes.apellido!=null)?item.clientes.apellido:'')}}
      </p>
      <p *ngIf="item.usuarios"><strong><ion-icon name="person"></ion-icon> Usuario: </strong>
        {{((item.usuarios.username!=null)?item.usuarios.username:'')}}
      </p>
      <p><strong><ion-icon name="cash"></ion-icon> Total: </strong>{{((item.total!=null)?item.total:'')}}</p>
      <p><strong><ion-icon name="card"></ion-icon> Tipo: </strong>{{((item.tipos.descripcion!=null)?item.tipos.descripcion:'')}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="selectItem=='compra'">
  <ion-item>
    <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha Inicio</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data.fechaInicio" (ionChange)="getAllThird($event)"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha Fin</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data.fechaFin" (ionChange)="getAllThird($event)"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><ion-icon name="radio-button-on"></ion-icon>  Estado</ion-label>
    <ion-select [(ngModel)]="data.estado" name="estado" (ionChange)="getAllThird($event)">
      <ion-select-option  value="1" >No Anuladas</ion-select-option>
      <ion-select-option  value="0" >Anuladas</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><ion-icon name="person"></ion-icon>  Usuario</ion-label>
    <ion-select [(ngModel)]="data.usuario" name="usuario" (ionChange)="getAllThird($event)">
      <ion-select-option  value="0" >Todos</ion-select-option>
      <div *ngFor="let x of usuarios">
      <ion-select-option  *ngIf="x.empleados" value="{{x.id}}" >{{((x.empleados.nombre!=null)?x.empleados.nombre:'')}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of table | filter: search" (click)="presentModalCompra(item.id)">
      <ion-label class="ion-text-wrap">
      <p><strong><ion-icon name="calendar"></ion-icon> Fecha: </strong>{{((item.fecha!=null)?item.fecha:'') | date: 'mediumDate'}}</p>
      <p><strong><ion-icon name="document"></ion-icon> Comprobante: </strong>{{((item.comprobante!=null)?item.comprobante:'N/A')}}</p>
      <p *ngIf="item.proveedores"><strong><ion-icon name="person"></ion-icon> Proveedor: </strong>
        {{((item.proveedores.nombre!=null)?item.proveedores.nombre:'N/A')}} {{((item.proveedores.apellido!=null)?item.proveedores.apellido:'N/A')}}
      </p>
      <p><strong><ion-icon name="cash"></ion-icon> Total: </strong>{{((item.total!=null)?item.total:'')}}</p>
      <p><strong><ion-icon name="card"></ion-icon> Tipo: </strong>{{((item.tipos.descripcion!=null)?item.tipos.descripcion:'')}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
