<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inventario
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="inventario" checked>
        <ion-label>Inventario</ion-label>
      </ion-segment-button>
      <ion-segment-button value="administrador">
        <ion-label>Administrador</ion-label>
      </ion-segment-button>
      <ion-segment-button value="inicial">
        <ion-label>Inicial</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectItem=='inventario'">
  <ion-list *ngFor="let item of table | filter: search">
    <ion-item>
      <ion-label>
        <p><strong><ion-icon name="information-circle-outline"></ion-icon>  Codigo: </strong>
        {{((item.productos.codigo!=null)?item.productos.codigo:'')}}</p>
        <p><strong><ion-icon name="pricetag"></ion-icon>  Producto: </strong>
        {{((item.productos.nombre!=null)?item.productos.nombre:'')}}</p>
        <p><strong><ion-icon name="information-circle-outline"></ion-icon>  Tipo: </strong>
        {{((item.productos.tipos.descripcion!=null)?item.productos.tipos.descripcion:'')}}</p>
        <p><strong><ion-icon name="pricetags"></ion-icon>  Cantidad: </strong>
        {{item.cantidad}}</p>
        <p><strong><ion-icon name="cash"></ion-icon>  Costo: </strong>
        {{item.precioCosto}}</p>
        <p><strong><ion-icon name="cash"></ion-icon>  Precio: </strong>
        {{item.precioVenta}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<ion-content *ngIf="selectItem=='administrador'">
  <ion-list>
    <ion-item-sliding *ngFor="let item of table | filter: search">
      <ion-item>
        <ion-label>
          <p><strong><ion-icon name="information-circle-outline"></ion-icon>  Codigo: </strong>
          {{item.productoscodigo}}</p>
          <p><strong><ion-icon name="pricetag"></ion-icon>  Producto: </strong>
          {{item.productosnombre}}</p>
          <p><strong><ion-icon name="information-circle-outline"></ion-icon>  Tipo: </strong>
          {{item.productostipodescripcion}}</p>
          <p><strong><ion-icon name="information-circle-outline"></ion-icon>  Cantidad: </strong>
          {{item.cantidad}}</p>
          <p><strong><ion-icon name="cash"></ion-icon>  Costo: </strong>
          {{item.precioCosto}}</p>
          <p><strong><ion-icon name="cash"></ion-icon>  Precio: </strong>
          {{item.precioVenta}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="presentModal(item.id)">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-content *ngIf="selectItem=='inicial'">
  <ion-list>
    <ion-item-sliding *ngFor="let item of table | filter: search">
      <ion-item>
        <ion-label>
          <p><strong><ion-icon name="information-circle-outline"></ion-icon>  Codigo: </strong>
          {{((item.productos.codigo!=null)?item.productos.codigo:'')}}</p>
          <p><strong><ion-icon name="pricetag"></ion-icon>  Producto: </strong>
          {{((item.productos.nombre!=null)?item.productos.nombre:'')}}</p>
          <p><strong><ion-icon name="information-circle-outline"></ion-icon>  Tipo: </strong>
          {{((item.productos.tipos.descripcion!=null)?item.productos.tipos.descripcion:'')}}</p>
          <p><strong><ion-icon name="pricetags"></ion-icon>  Cantidad: </strong>
          {{item.cantidad}}</p>
          <p><strong><ion-icon name="cash"></ion-icon>  Costo: </strong>
          {{item.precioCosto}}</p>
          <p><strong><ion-icon name="cash"></ion-icon>  Precio: </strong>
          {{item.precioVenta}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="presentModal(item.id)">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="presentAlertConfirm(item.id)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
