<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cuentas por Pagar
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="cuenta" checked>
        <ion-label>Cuentas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pagada">
        <ion-label>Pagadas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectItem=='cuenta'">
  <ion-list>
    <ion-item *ngFor="let item of table | filter: search">
      <ion-label class="ion-text-wrap">
      <p><strong><ion-icon name="calendar"></ion-icon> Fecha: </strong>{{((item.fecha!=null)?item.fecha:'') | date: 'mediumDate'}}</p>
      <!--<p><strong><ion-icon name="calendar"></ion-icon> Días Transcurridos: </strong>{{((item.diasTrans!=null)?item.diasTrans:'0')}}</p>-->
      <p *ngIf="item.compras.proveedores"><strong><ion-icon name="document"></ion-icon> NIT: </strong>{{((item.compras.proveedores.nit!=null)?item.compras.proveedores.nit:'')}}</p>
      <p *ngIf="item.compras.proveedores"><strong><ion-icon name="person"></ion-icon> Proveedor: </strong>
        {{((item.compras.proveedores.nombre!=null)?item.compras.proveedores.nombre:'')}} {{((item.compras.proveedores.apellido!=null)?item.compras.proveedores.apellido:'')}}
      </p>
      <p><strong><ion-icon name="cash"></ion-icon> Total: </strong>{{((item.creditoDado!=null)?item.creditoDado:'')}}</p>
      <p><strong><ion-icon name="card"></ion-icon> Saldo: </strong>{{((item.total!=null)?item.total:'')}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="selectItem=='pagada'">
  <ion-list>
    <ion-item *ngFor="let item of table | filter: search">
      <ion-label class="ion-text-wrap">
      <p><strong><ion-icon name="calendar"></ion-icon> Fecha: </strong>{{((item.fecha!=null)?item.fecha:'') | date: 'mediumDate'}}</p>
      <p><strong><ion-icon name="calendar"></ion-icon> Días Transcurridos: </strong>{{((item.diasTrans!=null)?item.diasTrans:'')}}</p>
      <p *ngIf="item.compras.proveedores"><strong><ion-icon name="document"></ion-icon> NIT: </strong>{{((item.compras.proveedores.nit!=null)?item.compras.proveedores.nit:'')}}</p>
      <p *ngIf="item.compras.proveedores"><strong><ion-icon name="person"></ion-icon> Proveedor: </strong>
        {{((item.compras.proveedores.nombre!=null)?item.compras.proveedores.nombre:'')}} {{((item.compras.proveedores.apellido!=null)?item.compras.proveedores.apellido:'')}}
      </p>
      <p><strong><ion-icon name="cash"></ion-icon> Total: </strong>{{((item.creditoDado!=null)?item.creditoDado:'')}}</p>
      <p><strong><ion-icon name="card"></ion-icon> Saldo: </strong>{{((item.total!=null)?item.total:'')}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

