<ion-header>
  <ion-toolbar color="light">
    <ion-title>Empleado</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!-- NOMBRE -->
    <ion-item>
        <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="data.nombre" name="nombre">
        </ion-input>
    </ion-item>
    <!-- APELLIDO -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="data.apellido" name="apellido">
      </ion-input>
    </ion-item>
    <!-- DIRECCIÓN -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="pin"></ion-icon>  Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="data.direccion" name="direccion">
      </ion-input>
    </ion-item>
    <!-- TELÉFONO -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="call"></ion-icon>  Teléfono</ion-label>
      <ion-input type="number" [(ngModel)]="data.telefono" name="telefono">
      </ion-input>
    </ion-item>
    <!-- CELULAR -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Celular</ion-label>
      <ion-input type="number" [(ngModel)]="data.celular" name="celular">
      </ion-input>
    </ion-item>
    <!-- SUELDO -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="cash"></ion-icon>  Sueldo</ion-label>
      <ion-input type="number" [(ngModel)]="data.sueldo" name="sueldo">
      </ion-input>
    </ion-item>
    <!-- SUCURSAL -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Sucursal</ion-label>
      <ion-select [(ngModel)]="data.sucursal" name="sucursal">
        <ion-select-option *ngFor="let e of sucursales" value="{{e.id}}">{{ e.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- PUESTO -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle-outline"></ion-icon>  Puesto</ion-label>
      <ion-select [(ngModel)]="data.puesto" name="puesto">
        <ion-select-option *ngFor="let e of puestos" value="{{e.id}}">{{ e.descripcion }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="dark" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>